<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="template">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
</head>
<body>
	<div layout:fragment="content">
	<div class="container">
			<div class="card" style="margin-top: 50px;">
				<div class="card-body" style="padding-top: 80px; padding-left: 200px;">
					<h2>Welcome to S&P Management Application !</h2>
				</div>
					<p style="padding-top: 20px; padding-bottom: 50px; padding-left: 140px;"> This is an academic project that aims to provide a basic and simple application for managing students and professors. </p>	
				
			</div>
	</div>
	</div>
</body>
</html>
